
@{
    ViewData["Title"] = "Your appointment has been successfully completed. Thank you";
}

<div class="modal-body">
    <p><h2>Your appointment has been successfully completed. Thank you!</h2></p>
</div>

<a href="@Url.Action("ReservationsManagement", "Home")" class="btn btn-link">
    Go to Reservations Management
</a>
